nav.navbar.navbar-default.navbar-fixed-bottom#bottom-navbar
  div.container
    div.input-group
      input.form-control(placeholder="Input message" id="outgoingMessage" type="text")
      span.input-group-btn
        button.btn.btn-default(type="button")#send Send
