nav.navbar.navbar-default.navbar-fixed-top(role="navigation")#top-navbar
  div.navbar-header
    button(class="btn btn-sucess navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    p.navbar-brand #{title}
  div.navbar-collapse.collapse
    ul.nav.nav-justified
      li
        <a href="/people">People</a>
      li
        <a href="/everyone">Public Wall</a>
      li
        <a href="/all_chats">All Chats</a>
      li
        <a href="/logout">Logout</a>
