body {
  padding-top:50px;
  font-size:1.7em;
}
.main-body {
  padding-bottom:50px;
}
#top-navbar{
  min-height:50px;
}
.nav > li >a{
  height:60px;
  padding-top:15px;
}

.ok, .emergency, .assistance {
  color: white !important;
}
.status_item.ok:hover, .status_item.emergency:hover, .status_item.assistance:hover {
  color: black !important;
}

.ok {
  background: #5cb85c;
}
.emergency{
  background: #d9534f;
}
.assistance{
  background: #f0ad4e;
}

.offline {
  opacity:0.4;
}

h3{
  color: grey !important;
}
              
