doctype html
html
  include includes/head.jade
  script(src='/js/all_chats.js')
  script(src='/js/jquery.watermarkinput.js')
  body
    include includes/navbar.jade
    br
    br
    br
    div.container
      ul.nav.nav-list#all_chats
        li.list-group-item
          <a href="/everyone">Public Wall</a>
