doctype html
html
  include includes/head.jade
  script(src='/js/all_chats.js')
  script(src='/js/jquery.watermarkinput.js')
  body
    include includes/navbar.jade
    br
    br
    br
    div.container
      ul.nav.nav-list
        a.list-group-item.pub_wall(href="/everyone") Public Wall
      br
      ul.nav.nav-list#all_chats
