doctype html
html
  include includes/head.jade
  script(src='/js/everyone.js')
  body
    include includes/navbar.jade
    div.container.main-body
      br
      br
      br
      div#messages
    include includes/message_send_box.jade
