doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/everyone.js')
    title SSNoC Chatroom
  body
    h1 Everyone
    div.row-centered
      div.inlineBlock
        form#messageForm
          textarea(rows="4", cols="50", placeholder="Text something!", maxlength=200)#outgoingMessage
          br
          input(type="button", value="Send", disabled=true)#send
      div.inlineBlock.topAligned
        b People
        br
        div#participants
      br
      br
      br
      <a href="/people">View People</a>
      <a href="/logout">Logout</a>
    br
    br
    div#messages.row-centered
