doctype html
html
  head
    <meta charset="utf-8">
    <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.watermarkinput.js')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    script(src='/js/join.js')
    title SSNoC Chatroom
  body
    div.container
      h1.text-center 
        span.fa.fa-sign-in SSNoC 
      br
      br
      div.row.text-center.col-sm-6.col-sm-offset-3
        div.join
          form(action='/login', method='post')
            div.form-group
              input.name(type="text" class='form-control' name='name')
            div.form-group
              input.password(type="password" class='form-control' name='password')
            button(type="submit", class='btn btn-warning btn-lg')#join Login 
        br
        p Need an account? 
          <a href='/signup'>Signup</a>
