doctype html
html
  head
    <meta charset="utf-8">
    <!-- Set the viewport so this responsive site displays correctly on mobile devices -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/join.js')
    script(src='/js/jquery.watermarkinput.js')
    title SSNoC Chatroom
  body
    div.container
      h1 SSNoC 
          br
          br
          br
          br
          br
      div.row.row-centered
        div.join
          input(type="text")#name
          br
          br
          input(type="button", value="Join", disabled=false)#join
