doctype html
html
  head
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/socket.io.min.js')
    script(src='/js/jquery-1.9.1.min.js')
    script(src='/js/jquery.cookie.js')
    script(src='/js/people.js')
    title SSNoC People

  body
    h1 People
    br
    br
    br
    <div class="row-centered">
    <input type="search" class="search form-control" placeholder="Search people" id="searchBox">
    </div>
    //input (type="search", class="search form-control", placeholder="search") #searchBox
    div.row-centered
      div.inlineBlock.topAligned
        br
        div#participants
      br
      br
      br
      br
      br
      br
      <a href="/everyone">Chat with Everyone</a>
