doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/people.js')
  body
    include includes/navbar.jade
    div.container
      br
      br
      br
      div
        input.search.form-control(type="search" class="" placeholder="Search people")#searchBox
      br
      br
      div.row
        div.col-md-6.col-xs-6
          h3.text-center.online Online
          div#participants_online 
        div.col-md-6.col-xs-6
          h3.text-center.offline Offline
          div#participants_offline 
    br
    br
    br
