doctype html
html
  include includes/head.jade
  script(src='/js/private.js')
  body
    include includes/navbar.jade
    h1 Private Chat with 
    div#peer
      h1 #{peer}
    div.row-centered
      div.inlineBlock
        form#messageForm
          textarea(rows="4", cols="50", placeholder="Text something!", maxlength=200)#outgoingMessage
          br
          input(type="button", value="Send", disabled=true)#send
    br
    br
    br
    div#messages.row-centered
