doctype html
html
  include includes/head.jade
  script(src='/js/private.js')
  body
    include includes/navbar.jade
    div.container.main-body
      div(peerName=peer)#peer
      br
      br
      br
      div#messages.text-center
    include includes/message_send_box.jade
