doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/profile.js')
  body
    include includes/navbar.jade
    div.container
      br
      br
      br
      if myself
        div.text-center
          div.btn-group
            button.btn.btn-default.dropdown-toggle(data-toggle="dropdown" type="button" class="#{status}") Change status  
              span.caret
            ul.dropdown-menu(role="menu")
              each val, key in {ok: "I'm OK", emergency: 'Emergency', assistance: 'Need Assistance'}
                if key != status
                  li
                    a(href="/status?#{key}") #{val}
      else 
        div.btn-group.btn-group-justified
          div.btn-group
            button.btn.btn-default(peer=peer)#chat Chat
