doctype html
html
  include includes/head.jade
  script(src='/js/jquery.cookie.js')
  script(src='/js/profile.js')
  body
    include includes/navbar.jade
    div.container
      br
      br
      br
      if myself
        span My status  
        div.btn-group
          button.btn.btn-default.dropdown-toggle.status_item(data-toggle="dropdown" type="button")
            span.caret
          ul.dropdown-menu(role="menu")
            each val, key in {ok: "I'm OK", emergency: 'Emergency', assistance: 'Need Assistance'}
              li.status_option(status=key)
                a(href="#") #{val}
      else 
        div.btn-group.btn-group-justified
          div.btn-group
            button.btn.btn-default(peer=peer)#chat Chat
